/*10:50*/

body {
	font: 75% Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/mp_bg_kid.jpg) no-repeat left bottom;
}
input{
	background: url(images/mp_box_bg.gif) repeat-x top;
	color: #AF1621;
}
.submit{
	background: url(images/mp_box_bg2.gif) repeat-x bottom;
}
a:link{
	color: #AF1621;
}
a:visited{
	color: #4B0E11;
}
a:hover{
	color: #002157;
}
a:active{
}
p{
	padding: 5px;
}
form{
	margin: 0px;
	padding: 0px;
}
h1{
	text-transform: uppercase;
	font-size: 1.5em;
}
h2{
	font-size: 1.5em;
	margin: 8px 8px 0px;
	color: #8EA846;
}
h3{
	font-size: 1.2em;
	margin: 8px 8px 0px;
	color: #8EA846;
}
img{
	border-style: none;
}
/**********Masterpage**********/
.container_z1{
	padding: 0px 10px 10px;
	min-height:600px;
}
.header{
	background: url(images/header.jpg) no-repeat right top;
	height: auto !important;
	min-height: 105px;
	clear: both;
}
* html .header{
	height: 105px;
}
.left{
	float: left;
	width: 153px;
	position: absolute;
	padding-top: 10px;
}
.right{
	padding-left: 137px;
}
.right_z4b{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}
.main{
	padding: 0.5% 1% 0.5% 2.5%;
	float:left;
	width: 96.5%;
}
.main2{
	padding: 10px 15px 5px;

}
.main_left{
	width: 75%;
}
.main_left2{

}
.main_right{
	width: 24%;
	float:right;
}
.nav{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav a:link, .nav a:visited{
	text-decoration: none;
	display: block;
	padding: 2px 5px;
	border-bottom: 2px solid #000000;
	font-weight: bold;
	color: #FFFFFF;
}
* html .nav a:link, * html .nav a:visited{
	height: 1%;
}
.nav a:hover{
	color: #999999;
}
/**********CSS Nav**********/
.main_nav{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: #C4BB76;
	display: table;
}
.main_nav li {
	float: left;
	clear: both;
}
.main_nav a:link, .main_nav a:visited {
	text-decoration: none;
	display: block;
	padding: 3px 3px 3px 5px;
	width: 141px;
	color: #FFFFFF;
	font-weight: bold;
}
.main_nav a:hover {
	color: #2A6F98;
	background-color: #FFFFFF;
}
.main_nav a:active {
	color: #DED8CC;
	background-color: #AFA797;
}
.main_nav .menu2, .main_nav .menu3{
	position: absolute;
	visibility: hidden;
	padding: 10px;
	width: 153px;
	left: 148px;
	background: url(images/mp_invis.gif);
	margin-top: -38px;
}
.main_nav .menu3{
	left: 147px;
	margin-top: -38px;
}
* html .main_nav .menu3{
	margin-top: -22px;
}
.main_nav :hover .menu2, .main_nav .menu2 li:hover .menu3, .main_nav .menu2 li:hover .menu3 {
	visibility: visible;
}
* html .main_nav .menu2 :hover .menu3{
	visibility: visible;
}
* html .main_nav .menu2 {
	margin-top: -23px;
}
* html .main_nav table{
	position: absolute;
	left: 0px;
}
/**********Page Specific**********/
.xsnazzy h1, .zsnazzy h1 {
	margin:0px;
	padding: 5px 5px 5px 10px;
	color: #FFFFFF;
}
.xsnazzy p, .zsnazzy p {
	margin:0; 
	padding:5px 10px; 
}
.xsnazzy {
	background: transparent;
	margin-bottom: 8px;
}
.xtop, .xbottom {
	display:block; 
	font-size:1px;
}
.xb0, .xb1, .xb2, .xb3, .xb4 {
	display:block; 
	overflow:hidden;
}
.xb0, .xb1, .xb2, .xb3 {
	height:1px;
}
.xb2, .xb3, .xb4 {
	background:#fff; 
	border-left:2px solid #493A7F;
	border-right:2px solid #493A7F;
}
.xb0 {
	margin:0 5px;
	border-width:0 2px;
	background:#493A7F;
}
.xb1 {
	margin:0 4px;
	background:#493A7F;
}
.xb2 {
	margin:0 3px;
	border-width:0 2px;
}
.xb3 {
	margin:0 2px;
}
.xb4 {
	height:2px; 
	margin:0 1px;
}
.xboxcontent {
	display:block; 
	border:0 solid #493A7F; 
	border-width:0 2px; 
}
* html .xboxcontent {
	height:1px;
}
/**********Color Specific**********/
.color_a {
	background-color:#fff;
}
b .color_b, .color_b{
	background-color:#333A7D;
	border-right: 1px solid #6A73CB;
	border-left: 1px solid #6A73CB;
	border-top-color: #6A73CB;
	border-bottom-color: #6A73CB;
}
.color_b li{
	background-color:#333A7D;
	border-right: 1px solid #6A73CB;
	border-left: 1px solid #6A73CB;
	border-top-color: #6A73CB;
	border-bottom-color: #6A73CB;
	position: relative;
	left: -1px;	
	margin-right: -2px;
}



b .color_sugg2, .color_sugg2{
	background-color:#33667d;
	border-right: 1px solid #6aadcb;
	border-left: 1px solid #6aadcb;
	border-top-color: #6aadcb;
	border-bottom-color: #6aadcb;
}
.color_sugg2 li{
	background-color:#33667d;
	border-right: 1px solid #6aadcb;
	border-left: 1px solid #6aadcb;
	border-top-color: #6aadcb;
	border-bottom-color: #6aadcb;
	position: relative;
	left: -1px;	
	margin-right: -2px;
}


.color_b2{
	background-color:#6A73CB;
	border-color: #6A73CB;
}
.color_c{
	background-color:#77004D;
	border-right: 1px solid #C94C9C;
	border-left: 1px solid #C94C9C;
	border-top-color: #C94C9C;
	border-bottom-color: #C94C9C;
}
.color_c2 {
	background-color:#C94C9C;
}

.color_sugg
{
    background-color:#6aadcb;
	border-color: #6aadcb;
}



.border1{
	border-bottom: 1px solid #C94C9C;
}
b .color_c, .color_c{
	background-color:#77004D;
	border-right: 1px solid #C94C9C;
	border-left: 1px solid #C94C9C;
	border-top-color: #C94C9C;
	border-bottom-color: #C94C9C;
}
.color_c li{
	background-color:#77004D;
	border-right: 1px solid #C94C9C;
	border-left: 1px solid #C94C9C;
	border-top-color: #C94C9C;
	border-bottom-color: #C94C9C;
	position: relative;
	left: -1px;	
	margin-right: -2px;
}
.color_c2{
	background-color:#C94C9C;
	border-color: #C94C9C;
}
.color_d {
	background-color:#736541;
	border-color: #BDA872;
}
.color_d2 {
	background-color:#BDA872;
}
.color_d p{
	color: #FFFFFF;
	padding: 2px 4px;
}
.color_e {
	background-color:#A55715;
	border-color: #D07325;
}
.color_e2 {
	background-color:#D07325;
}
.color_red {
	background-color:#AF1621;
	border-color: #AF1621;
}
.color_red2 {
	background-color:#AF1621;
}
.color_red3 {
	border-color: #AF1621;
}
.color_green {
	background-color:#405866;
	border-color: #405866;
}
.color_green2 {
	background-color:#405866;
}
.color_green3 {
	border-color: #405866;
}
.color_yellow{
	background-color:#797C81;
	border-color: #797C81;
}
.color_yellow2 {
	background-color:#797C81;
}
.color_yellow3 {
	border-color: #797C81;
}
.color_cyan {
	background-color:#3FBAD7;
	border-color: #3FBAD7;
}
.color_cyan2 {
	background-color:#3FBAD7;
}
.color_cyan3 {
	border-color: #3FBAD7;
}

.color_cyan3 li a:visited, .color_cyan3 li a:link{
	border-color: #3FBAD7;
	color: #333A7D;
}

/**********Color Specific**********/
.main_box a:visited, .main_box a:link{
	border-bottom: 1px solid #7B161B;
	color: #AF1621;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
	padding: 4px 7px 4px 11px;
	background: url(images/mp_list.gif) no-repeat left center;
}
.main_box a:hover{
	text-decoration: underline;
	color: #002157;
	background: #FFFFFF url(images/mp_list2.gif) no-repeat left center;
}
.first_box a:visited, .first_box a:link{
	border-bottom: 1px solid #6A73CB;
	background: #333A7D;
}
.first_box a:hover{
	color: #333A7D;
	background: #FFFFFF;
}
.second_box a:visited, .second_box a:link{
	border-bottom: 1px solid #C94C9C;
	background: #77004D;
}
.second_box a:hover{
	color: #77004D;
	background: #FFFFFF;
}
.third_box a:visited, .third_box a:link{
	border-bottom: 1px solid #BDA872;
	background: #A55715;
}
.third_box a:hover{
	color: #A55715;
	background: #FFFFFF;
}
.fourth_box a:visited, .fourth_box a:link{
	border-bottom: 1px solid #D07325;
}
.no_border a:visited, .no_border a:link{
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
}
.border{
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
}
.sticky a:link, .sticky a:visited{
	border: 2px solid #AF1621;
	font-weight: bold;
	background: #E9E9E9;
	font-size: 1.2em;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 2px;
}
.sticky a:hover{
	border: 2px solid #002157;
}
.highlight a:link, .highlight a:visited{
	font-weight: bold;
	color: #8EA846;	
}
.highlight a:hover{
	color: #002157;	
}
.main_bg{
	background: #FFFFFF url(images/mp_bg_shutters_4.jpg) repeat-y right top;
}
.op_fe_num{
	float:right;
	border: 1px solid #FFFFFF;
	padding: 1px 3px;
	font-weight: bold;
	color: #FFFFFF;
	background: #8EA846;
	position: relative;
	top: -2px;
}
.events{
	font-size: .9em;
}
.events_pullout{
	background: #3FBAD7;
	color: #FFFFFF;
}
.login_box{
	width:100px;
	/*height:70px; */
	background: #CCCCCC;
	border-top: 2px solid #CCCCCC;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	border-left: 2px solid #CCCCCC;
	text-align: center;
	padding-top:50px;
	vertical-align:baseline;
	padding-bottom: 40px;
	padding-left:30px;
	padding-right:30px;
	vertical-align:middle;
	color:#4B0E11;

}
.sub_content{
	float: left;
	width: 49%;
	min-height: 355px;
}
.sub_content2{
	float: right;
	width: 49%;
	min-height: 355px;
}
* html .sub_contentz, * html .sub_content2{
	height:335px;
}
.pad{
	padding: 7px;
}
.border_bottom{
	border-bottom: 1px solid #8EA846;
}
.txt_red{
	color: #FF0000;	
}

/* new code for responsive */
.seperator {
	border-top: 1px dashed;
	margin-bottom: 5px;
}

.description {
	padding: 8px 0;
	font-size: 14px;
	line-height: 1.5;
	width: 70%;
}

#ddlSelectSite, #ddlMyBrand, #txtZip, #txtState, #txtName, #txtTerrNum {
	width: 35%;
	padding: 5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #000;
	margin: 2px 0;
}

#btnSubmit {
	width: 100px;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

.territory-field, #txtTerrNum {
	margin-left: 10px;
}

.input-wrapper {
	width: 70%;
	padding: 10px 0;
}

.result-set-wrapper {
	padding: 0 15px;
	font-size: 14px;
}

/* For Tablet View */
@media screen and (max-device-width: 767px) {
	.image-wrapper {
		text-align: center;
	}

	.image-wrapper img {
		width: 300px;
		vertical-align: middle;
	}

	.xsnazzy h1, .zsnazzy h1 {
		font-size: 14px;
		padding: 10px;
	}

	.description, .input-wrapper {
		width: 100%;
	}
	#ddlSelectSite, #ddlMyBrand, #txtZip, #txtState, #txtName, #txtTerrNum {
		width: 60%;
		padding: 10px;
		font-size: 28px;
	}

	#ddlMyBrand {
		width: 30%;
	}

	.input-wrapper td {
		font-size: 28px;
	}

	#btnSubmit {
		padding: 10px;
		width: 200px;
		font-size: 28px;
	}
}

